/**
 * @tableofcontents
 *
 * 1. flaticon
 */

/** @section 1. flaticon */

@font-face
{
	font-family: var(--rs-font-flaticon);
	src: url('../../../../templates/redaxscript/dist/fonts/flaticon.woff2') format('woff2'), url('../../../../templates/redaxscript/dist/fonts/flaticon.woff') format('woff');
}
<% glyphs.forEach((value, index) =>
{
%>
%rs-font-flaticon-<%=value%>
{
	content: '\<%=codepoints[index]%>';
	font-family: var(--rs-font-flaticon);
}
<%
})
%>