/**
 * @tableofcontents
 *
 * 1. animation
 *    1.1 keyframe
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. animation */

.rs-is-desktop
{
	& .rs-box-homepage
	{
		overflow: hidden;
		position: relative;
	}

	& .rs-wrapper-homepage,
	& .rs-box-feature
	{
		position: relative;
		z-index: 1;
	}

	& .rs-wrapper-animation
	{
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	& .rs-box-animation,
	& .rs-box-animation:before,
	& .rs-box-animation:after
	{
		background: gray(0, 0.1);
		position: absolute;
		will-change: transform;
	}

	& .rs-box-animation
	{
		&.rs-is-first,
		&.rs-is-first:before,
		&.rs-is-first:after
		{
			animation: 200s rotate-left infinite linear, 20s colorize infinite linear;
			height: 140vh;
			width: 140vw;
		}

		&.rs-is-second,
		&.rs-is-second:before,
		&.rs-is-second:after
		{
			animation: 200s rotate-right infinite linear;
			height: 120vh;
			width: 120vw;
		}

		&.rs-is-first:before,
		&.rs-is-second:before
		{
			animation-duration: 50s;
			content: '';
		}

		&.rs-is-first:after,
		&.rs-is-second:after
		{
			animation-duration: 100s;
			content: '';
		}
	}
}

/* @section 1.1 keyframe */

@keyframes colorize
{
	60%
	{
		background: gray(0, 0.1);
	}

	80%
	{
		background: rgba(50, 200, 150, 0.3);
	}

	100%
	{
		background: gray(0, 0.1);
	}
}