/**
 * @tableofcontents
 *
 * 1. badge
 *    1.1 wrapper
 *    1.2 box
 */

/** @section 1. badge */

/** @section 1.1 wrapper */

.rs-wrapper-badge-beta
{
	font-size: 1.25em;
	text-align: center;
}

@media (--media-medium-min)
{
	.rs-wrapper-badge-beta
	{
		font-size: 1.5em;
		height: 5em;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}

/** @section 1.2 box */

.rs-box-badge-beta
{
	background: var(--rs-gradient-beta);
	box-shadow: 0 -0.125em 0 gray(0, 0.2) inset;
	color: gray(255);
	font-weight: bold;
	padding: 0.5em;
	text-transform: uppercase;

}

@media (--media-medium-min)
{
	.rs-box-badge-beta
	{
		transform: rotate(45deg) translate(1.5em, -3em);
		padding: 2em 3em 0.5em;
	}
}