/**
 * @tableofcontents
 *
 * 1. documentation
 */

/** @section 1. documentation */

.rs-link-documentation
{
	display: inline-block;
	font-size: 0.75em;
	font-weight: bold;
	margin-top: 3em;
	text-transform: uppercase;
}
