/**
 * @tableofcontents
 *
 * 1. documentation
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. documentation */

.rs-link-documentation
{
	display: inline-block;
	font-weight: bold;
	margin-top: 1.5em;
}