/**
 * @tableofcontents
 *
 * 1. avatar
 *    1.1 wrapper
 *    1.2 label
 * 2. feature
 *    1.1 wrapper
 *    1.2 list
 *    1.3 title
 * 3. logic
 * 4. query
 *    4.1 small-min
 *    4.2 small-max
 *    4.3 medium-min
 */

/** @section 1. avatar */

/** @section 1.1 wrapper */

.rs-wrapper-avatar
{
	margin-bottom: 1em;
	text-align: center;
}

@media (--media-small-min)
{
	.rs-wrapper-avatar
	{
		margin-bottom: 3em;
	}
}

/** @section 1.2 label */

.rs-label-avatar-developer,
.rs-label-avatar-designer
{
	border-radius: 0.125em;
	color: var(--rs-color-primary);
	display: inline-block;
	font-size: 1.25em;
	margin: 2em 1.25em 1em;
	text-transform: uppercase;

	&:before
	{
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		content: '';
		display: block;
		height: 1em;
		margin-bottom: 1.5em;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		transform: scale(3);
		width: 1em;
	}
}

@svg-load rs-icon-avatar-developer url('redaxscript-flaticon/flaticon/profiles-avatar/nerd-male-profile-avatar.svg')
{
	fill: var(--rs-color-primary);
}

.rs-label-avatar-developer:before
{
	background-image: svg-inline(rs-icon-avatar-developer);
}

@svg-load rs-icon-avatar-designer url('redaxscript-flaticon/flaticon/profiles-avatar/avatar-of-a-person-with-dark-short-hair.svg')
{
	fill: var(--rs-color-primary);
}

.rs-label-avatar-designer:before
{
	background-image: svg-inline(rs-icon-avatar-designer);
}

.rs-fn-status-developer:not(:checked) ~ .rs-has-avatar .rs-label-avatar-developer,
.rs-fn-status-designer:not(:checked) ~ .rs-has-avatar .rs-label-avatar-designer
{
	color: gray(90);
	cursor: pointer;
}

.rs-fn-status-developer:not(:checked) ~ .rs-has-avatar .rs-label-avatar-developer:before
{
	background-image: svg-load('redaxscript-flaticon/flaticon/profiles-avatar/nerd-male-profile-avatar.svg', fill = gray(90));
}

.rs-fn-status-designer:not(:checked) ~ .rs-has-avatar .rs-label-avatar-designer:before
{
	background-image: svg-load('redaxscript-flaticon/flaticon/profiles-avatar/avatar-of-a-person-with-dark-short-hair.svg', fill = gray(90));
}

/** @section 2. feature */

/** @section 1.1 wrapper */

.rs-wrapper-feature
{
	box-sizing: border-box;
	display: flex;
	width: 200%;
}

/** @section 1.2 list */

.rs-list-feature
{
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	transition: transform 0.4s cubic-bezier(0.25, 1.125, 0.25, 1.125);

	& li
	{
		box-sizing: border-box;
		margin-bottom: 2em;
		margin-top: 1em;
		padding: 0 1em;
	}

	& h3:before
	{
		background-color: gray(95);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 0.125em;
		content: '';
		display: inline-block;
		height: 2em;
		transform: scale(1.375);
		vertical-align: middle;
		width: 2em;
	}

	& p
	{
		line-height: 1.5em;
		margin-top: 1em;
	}
}

.rs-body-homepage .rs-list-feature li:nth-child(n+5)
{
	display: none;
}

@svg-load rs-icon-feature-asset-management url('redaxscript-flaticon/flaticon/stationery/layers.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-asset-management h3:before
{
	background-image: svg-inline(rs-icon-feature-asset-management);
}

@svg-load rs-icon-feature-access-control url('redaxscript-flaticon/flaticon/security/key.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-access-control h3:before
{
	background-image: svg-inline(rs-icon-feature-access-control);
}

@svg-load rs-icon-feature-console-interface url('redaxscript-flaticon/flaticon/programming-line/command-line.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-console-interface h3:before
{
	background-image: svg-inline(rs-icon-feature-console-interface);
}

@svg-load rs-icon-feature-database-abstraction url('redaxscript-flaticon/flaticon/essential/database-1.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-database-abstraction h3:before
{
	background-image: svg-inline(rs-icon-feature-database-abstraction);
}

@svg-load rs-icon-feature-docker-container url('redaxscript-flaticon/flaticon/travel/cruise.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-docker-container h3:before
{
	background-image: svg-inline(rs-icon-feature-docker-container);
}

@svg-load rs-icon-feature-extensible-system url('redaxscript-flaticon/flaticon/design/cube.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-extensible-system h3:before
{
	background-image: svg-inline(rs-icon-feature-extensible-system);
}

@svg-load rs-icon-feature-great-documentation url('redaxscript-flaticon/flaticon/essential/agenda.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-great-documentation h3:before
{
	background-image: svg-inline(rs-icon-feature-great-documentation);
}

@svg-load rs-icon-feature-grunt-stack url('redaxscript-flaticon/flaticon/science/flask.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-grunt-stack h3:before
{
	background-image: svg-inline(rs-icon-feature-grunt-stack);
}

@svg-load rs-icon-feature-integrated-administration url('redaxscript-flaticon/flaticon/essential/settings-6.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-integrated-administration h3:before
{
	background-image: svg-inline(rs-icon-feature-integrated-administration);
}

@svg-load rs-icon-feature-installation-wizard url('redaxscript-flaticon/flaticon/essential/magic-wand.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-installation-wizard h3:before
{
	background-image: svg-inline(rs-icon-feature-installation-wizard);
}

@svg-load rs-icon-feature-modern-css url('redaxscript-flaticon/flaticon/science/atoms.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-modern-css h3:before
{
	background-image: svg-inline(rs-icon-feature-modern-css);
}

@svg-load rs-icon-feature-responsive-design url('redaxscript-flaticon/flaticon/online-marketing/devices.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-responsive-design h3:before
{
	background-image: svg-inline(rs-icon-feature-responsive-design);
}

@svg-load rs-icon-feature-robust-security url('redaxscript-flaticon/flaticon/security/antivirus.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-robust-security h3:before
{
	background-image: svg-inline(rs-icon-feature-robust-security);
}

@svg-load rs-icon-feature-robust-security url('redaxscript-flaticon/flaticon/productivity-and-development/rocket-ship.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-rocket-fast h3:before
{
	background-image: svg-inline(rs-icon-feature-robust-security);
}

@svg-load rs-icon-feature-seo-friendly url('redaxscript-flaticon/flaticon/seo-and-analytics/analytics-2.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-seo-friendly h3:before
{
	background-image: svg-inline(rs-icon-feature-seo-friendly);
}

@svg-load rs-icon-feature-smart-caching url('redaxscript-flaticon/flaticon/essential/stopwatch-1.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-smart-caching h3:before
{
	background-image: svg-inline(rs-icon-feature-smart-caching);
}

@svg-load rs-icon-feature-system-notification url('redaxscript-flaticon/flaticon/essential/alarm.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-system-notification h3:before
{
	background-image: svg-inline(rs-icon-feature-system-notification);
}

@svg-load rs-icon-feature-ultra-lightweight url('redaxscript-flaticon/flaticon/essential/paper-plane-1.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-ultra-lightweight h3:before
{
	background-image: svg-inline(rs-icon-feature-ultra-lightweight);
}

@svg-load rs-icon-feature-unleashed-theming url('redaxscript-flaticon/flaticon/stationery/paint-palette-1.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-unleashed-theming h3:before
{
	background-image: svg-inline(rs-icon-feature-unleashed-theming);
}

@svg-load rs-icon-feature-wysiwyg-editor url('redaxscript-flaticon/flaticon/programming-line/editing-code.svg')
{
	fill: var(--rs-color-primary);
}

.rs-item-feature-wysiwyg-editor h3:before
{
	background-image: svg-inline(rs-icon-feature-wysiwyg-editor);
}

/** @section 1.3 title */

.rs-title-feature-sub
{
	color: var(--rs-color-primary);
	font-size: 1.25em;
	font-weight: 500;
}

/** @section 3. logic */

.rs-fn-status-developer,
.rs-fn-status-designer
{
	display: none;
}

.rs-has-feature
{
	overflow: hidden;
}

.rs-fn-status-designer:checked ~ .rs-has-feature .rs-is-developer,
.rs-fn-status-designer:checked ~ .rs-has-feature .rs-is-designer
{
	transform: translateX(-100%);
}

/** @section 4. query */

/** @section 4.1 small-min */

@media (--media-small-min)
{
	.rs-list-feature h3:before
	{
		margin-left: 0.375em;
		margin-right: 1em;
	}
}

/** @section 4.2 small-max */

@media (--media-small-max)
{
	.rs-list-feature h3:before
	{
		display: block;
		margin-bottom: 1.5em;
		margin-left: auto;
		margin-right: auto;;
	}

	.rs-title-feature-sub
	{
		text-align: center;
	}
}

/** @section 4.3 medium-min */

@media (--media-medium-min)
{
	.rs-list-feature li
	{
		flex-basis: 50%;
	}
}
