/**
 * @tableofcontents
 *
 * 1. features
 *    1.1 box
 *    1.2 wrapper
 *    1.3 label
 *    1.4 list
 *    1.5 button
 * 2. logic
 */

/** @section 1. features */

/** @section 1.1 box */

.rs-box-feature
{
	background: gray(255);
	border-radius: 0.125em;
	font-size: 1.25em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	padding: 5vh 0;
}

.rs-box-homepage + .rs-box-feature
{
	margin-top: -10vh;
}

/** @section 1.2 wrapper */

@media (--media-large-min)
{
	.rs-wrapper-feature
	{
		max-width: 100rem;
		width: 80%;
	}
}

/** @section 1.3 label */

.rs-wrapper-label-feature
{
	margin-bottom: 2em;
	margin-top: 1em;
	text-align: center;
}

.rs-label-feature-developer,
.rs-label-feature-designer
{
	border-radius: 0.125em;
	color: var(--rs-color-tertiary);
	display: inline-block;
	font-size: 1.25em;
	margin: 0.5em;
	text-transform: uppercase;

	&:before
	{
		border-radius: 50%;
		display: block;
		font-size: 4em;
		height: 1em;
		overflow: hidden;
	}
}

@media (--media-medium-min)
{
	.rs-label-feature-developer,
	.rs-label-feature-designer
	{
		font-size: 1.5em;
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}

.rs-fn-status-feature-developer:not(:checked) ~ .rs-has-feature .rs-label-feature-developer,
.rs-fn-status-feature-designer:not(:checked) ~ .rs-has-feature .rs-label-feature-designer
{
	color: gray(200);
	cursor: pointer;

	&:hover
	{
		color: var(--rs-color-primary);
	}
}

/* icons */

.rs-label-feature-designer:before
{
	@extend %rs-font-flaticon-avatar-of-a-person-with-dark-short-hair;
}

.rs-label-feature-developer:before
{
	@extend %rs-font-flaticon-nerd-male-profile-avatar;
}

/** @section 1.4 list */

.rs-wrapper-list-feature
{
	box-sizing: border-box;
	display: flex;
	margin: 2em 0;
	width: 200%;
}

.rs-list-feature
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: transform 0.4s cubic-bezier(0.2, 1.1, 0.4, 1.1);
	width: 50%;

	& li
	{
		box-sizing: border-box;
		margin-bottom: 3em;
		padding: 0 1em;

		&:before
		{
			color: var(--rs-color-primary);
			font-size: 3em;
		}
	}

	& p
	{
		line-height: 1.75em;
		margin: 0.5em 0;
	}
}

@media (--media-small-min)
{
	.rs-list-feature
	{
		& li
		{
			padding-left: 6em;
			position: relative;

			&:before
			{
				left: 0.5em;
				position: absolute;
				top: -0.125em;
			}
		}
	}
}

@media (--media-small-max)
{
	.rs-list-feature li:before
	{
		display: block;
		margin-bottom: 0.25em;
		text-align: center;
	}
}

@media (--media-medium-min)
{
	.rs-list-feature li
	{
		flex-basis: 50%;
	}
}

.rs-body-homepage .rs-list-feature li:nth-child(n+5)
{
	display: none;
}

/* title */

.rs-title-feature-sub
{
	color: var(--rs-color-primary);
}

@media (--media-small-max)
{
	.rs-title-feature-sub
	{
		text-align: center;
	}
}

@media (--media-medium-min)
{
	.rs-title-feature-sub
	{
		font-size: 1.5em;
	}
}

/* icons */

.rs-item-feature-asset-management:before
{
	@extend %rs-font-flaticon-layers;
}

.rs-item-feature-access-control:before
{
	@extend %rs-font-flaticon-key;
}

.rs-item-feature-console-interface:before
{
	@extend %rs-font-flaticon-command-line;
}

.rs-item-feature-database-abstraction:before
{
	@extend %rs-font-flaticon-database-1;
}

.rs-item-feature-docker-container:before
{
	@extend %rs-font-flaticon-cruise;
}

.rs-item-feature-extensible-system:before
{
	@extend %rs-font-flaticon-cube;
}

.rs-item-feature-great-documentation:before
{
	@extend %rs-font-flaticon-agenda;
}

.rs-item-feature-grunt-stack:before
{
	@extend %rs-font-flaticon-flask;
}

.rs-item-feature-integrated-administration:before
{
	@extend %rs-font-flaticon-settings-6;
}

.rs-item-feature-installation-wizard:before
{
	@extend %rs-font-flaticon-magic-wand;
}

.rs-item-feature-modern-css:before
{
	@extend %rs-font-flaticon-atoms;
}

.rs-item-feature-responsive-design:before
{
	@extend %rs-font-flaticon-devices;
}

.rs-item-feature-robust-security:before
{
	@extend %rs-font-flaticon-antivirus;
}

.rs-item-feature-rocket-fast:before
{
	@extend %rs-font-flaticon-rocket-ship;
}

.rs-item-feature-seo-friendly:before
{
	@extend %rs-font-flaticon-analytics-2;
}

.rs-item-feature-smart-caching:before
{
	@extend %rs-font-flaticon-stopwatch-1;
}

.rs-item-feature-system-notification:before
{
	@extend %rs-font-flaticon-alarm;
}

.rs-item-feature-ultra-lightweight:before
{
	@extend %rs-font-flaticon-paper-plane-1;
}

.rs-item-feature-unleashed-theming:before
{
	@extend %rs-font-flaticon-paint-palette-1;
}

.rs-item-feature-wysiwyg-editor:before
{
	@extend %rs-font-flaticon-editing-code;
}

/* /** @section 1.5 button */

.rs-wrapper-button-feature
{
	text-align: center;
}

/** @section 2. logic */

.rs-fn-status-feature-developer,
.rs-fn-status-feature-designer
{
	display: none;
}

.rs-has-feature
{
	overflow: hidden;
}

.rs-fn-status-feature-developer:checked ~ .rs-has-feature .rs-is-feature-developer,
.rs-fn-status-feature-developer:checked ~ .rs-has-feature .rs-is-feature-designer
{
	transform: translateX(0);
}

.rs-fn-status-feature-designer:checked ~ .rs-has-feature .rs-is-feature-developer,
.rs-fn-status-feature-designer:checked ~ .rs-has-feature .rs-is-feature-designer
{
	transform: translateX(-100%);
}