/**
 * @tableofcontents
 *
 * 1. homepage
 *    1.1 wrapper
 *    1.2 box
 */

/** @section 1. homepage */

/** @section 1.1 wrapper */

.rs-wrapper-homepage
{
	margin-left: auto;
	margin-right: auto;
}

@media (--media-large-min)
{
	.rs-wrapper-homepage
	{
		max-width: 100rem;
		width: 80%;
	}
}

.rs-wrapper-button-homepage
{
	margin-top: 2em;
	text-align: center;
}

/** @section 1.2 box */

.rs-box-homepage
{
	background: gray(100);
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}

@media (--media-large-min)
{
	.rs-box-homepage
	{
		border-radius: 0.125em;
	}
}