/**
 * @tableofcontents
 *
 * 1. homepage
 *    1.1 wrapper
 *    1.2 box
 *    1.3 section
 *    1.4 branding
 *    1.5 button
 *    1.6 shield
 */

/** @section 1. homepage */

/** @section 1.1 wrapper */

@media (--media-large-min)
{
	.rs-wrapper-homepage
	{
		max-width: 100rem;
		width: 80%;
	}
}

/** @section 1.2 box */

.rs-box-homepage
{
	background: var(--rs-color-tertiary);
	box-sizing: border-box;
	color: gray(200);
	padding: 6em 2em 8.5em;
	text-align: center;
}

@media (--media-medium-min)
{
	.rs-box-homepage
	{
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

/** @section 1.3 section */

.rs-section-homepage
{
	background: gray(255);
	font-size: 1.25em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}

@media (--media-large-min)
{
	.rs-section-homepage
	{
		border-radius: 0.125em;
	}
}

.rs-box-homepage + .rs-section-homepage
{
	margin-top: -5em;
}

/** @section 1.4 branding */

.rs-title-branding
{
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-indent: -999em;
	width: 4em;
}

@media (--media-medium-min)
{
	.rs-title-branding
	{
		font-size: 2.5em;
	}
}

.rs-link-branding:before
{
	background: var(--rs-url-branding) no-repeat center / 55%, linear-gradient(to top, gray(230), gray(255));
	border-radius: 0.125em;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.rs-text-branding
{
	font-size: 1.5em;
	margin-bottom: 2em;
	margin-top: 3em;
}

/** @section 1.5 button */

.rs-button-download,
.rs-button-demo
{
	@extend %rs-button;
	font-size: 1.5em;
	min-width: 8em;
}

.rs-button-download
{
	background: var(--rs-color-secondary);
	color: gray(255);

	&:hover
	{
		background: var(--rs-color-secondary-light);
	}
}

.rs-button-demo
{
	background: gray(230);
	color: var(--rs-color-tertiary);

	&:hover
	{
		background: gray(255);
	}
}

@media (--media-medium-max)
{
	.rs-button-download + .rs-button-demo
	{
		margin-top: 1em;
	}
}

@media (--media-medium-min)
{
	.rs-button-download,
	.rs-button-demo
	{
		margin: 1em;
	}
}

/** @section 1.6 shield */

.rs-has-shield
{
	margin-top: 2em;

	& a
	{
		display: inline-block;
		margin: 0.25em;
	}

	& img
	{
		height: 1.5em;
		vertical-align: top;
	}
}