/**
 * @tableofcontents
 *
 * 1. general
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-body-homepage
{
	background: gray(215);
	color: var(--rs-color-tertiary);
	font: 1em var(--rs-font-primary);
}
