/**
 * @tableofcontents
 *
 * 1. link
 */

/** @section 1. link */

.rs-link-documentation
{
	display: inline-block;
	font-size: 0.625em;
	font-weight: 500;
	margin-top: 2em;
	text-transform: uppercase;
}

.rs-body-homepage
{
	& .rs-link-documentation
	{
		display: none;
	}
}
